<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.230728.104656-sym" targetFramework="net481" />
  <package id="_nilnul_._LINQ_" version="1.1.230709.141821-sym" targetFramework="net481" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="nilnul._bit_._LIB_" version="1.1.240624.5119-sym" targetFramework="net481" />
  <package id="nilnul._character_._LIB_" version="2.1.231121.55239-sym" targetFramework="net481" />
  <package id="nilnul._num_._LIB_" version="1.1.240104.43053-sym" targetFramework="net481" />
  <package id="nilnul._num_._LINQ_" version="1.1.231206.31605-sym" targetFramework="net481" />
  <package id="nilnul._obj_._LIB_" version="1.2.240621.125108-sym" targetFramework="net481" />
  <package id="nilnul._rel_._LIB_" version="1.2.231003.172246-sym" targetFramework="net481" />
  <package id="nilnul._set_._LIB_" version="1.1.230730.135726-sym" targetFramework="net481" />
  <package id="nilnul._txt_._LIB_" version="1.1.240612.151012-sym" targetFramework="net481" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net48" />
</packages>